<div id="grid">
  <div class="header"><h1>Moves: {{ grid.moveCount }} - Score: {{ grid.score }}</h1></div>
  <div id="gamecontainer" (swipeleft)="this.moveTiles(direction.Left);" (swiperight)="this.moveTiles(direction.Right);"
    (swipeup)="this.moveTiles(direction.Up);" (swipedown)="this.moveTiles(direction.Down);">
    <div id="game">
      <div *ngIf="defeat" class="popup">You lost!<br />
        <a (click)="this.startGame()">Retry</a>
      </div>
      <div *ngIf="victory" class="popup">You won!<br />
        <a (click)="this.startGame()">Restart</a>
      </div>
      <app-grid [grid]='grid'></app-grid>
    </div>
  </div>
  <div class="footer">Use your arrow keys or swipe with your fingers to move the tiles. Tiles with the same number
    merge into one when they touch. Add them up to reach 1024!<br /><br />Created by <a href="https://github.com/Ersanio">Ersanio</a>. <a
      href="https://github.com/Ersanio/9yin-1024">Source</a>.</div>
</div>
