#mobilewrap{
  position: absolute;
  width: 100%;
  height: 100%;

  #container {
    background-image: url("../assets/ditu1024.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 624px 624px;
    position: absolute;
    width: 624px;
    height: 624px;
    margin: auto;
    left: 4px;
    right: 0;
    top: 13px;
    bottom: 0;

    .tiles {
      position: absolute;
      top: 100px;
      left: 108px;
      width: 399px;
      height: 402px;

      background-color: rgba(255, 0, 0, 0.5);
    }
  }
}
