@import "normalize";
@import "shared-vars";

body {
  background-color: #1a1717;
  color: #eae7e3;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;

  a {
    cursor: pointer;
    color: #ffa523;
    text-decoration: underline;
  }

  a:hover {
    color: lighten(#ffa523, 15%);
  }
}
